<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Edit Show</title>
   {% load static %}
   <link rel="stylesheet" href="{% static "css/style.css" %}"> 
</head>


<body>
   <div id="container">
      <div id="header">
         <h1>Edit {{show.title}}</h1>
         <a href="/shows">Go Back</a>
      </div>

      <div id="form">
         <form action="/shows/{{show.id}}/update" method="POST">
            {% csrf_token %}
            <div class="form_group">
               <h4>Title:</h4> <input type="text" name="title" class="form_input"><br>
            </div>
            <div class="form_group">
               <h4>Network:</h4> <input type="text" name="network" class="form_input">
               <h4>Release Date:</h4> <input type="date" name="release_date" class="form_input"><br>
            </div>
            <div class="form_group">
               <h4>Description:</h4> <input type="text" name="desc" class="form_input"><br>
            </div>
            <div class="form_group">
               <input type="submit" value="Update" class="form_button">
            </div>
         </form>
      </div>
   </div>
</body>
</html>