#navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   background-color: cornflowerblue;
   padding: 10px;
   width: auto;
   height: 65px;
   color: white;
   font-size: 14px;
}

.dojo {
   width: 75px;
   height: auto;
}

h1 {
   font-size: 24px;
}

ul {
   display: inline-block;
   list-style-type: none;
}

li {
   display: inline;
   padding: 35px;
}

li a {
   color: white;
   text-align: center;
   text-decoration: none;
}