* {
   margin: 0;
   padding: 0;
}

body {
   margin: 20px;
}

h1 {
   padding: 5px;
}
.container {
   margin: auto;
   padding: 20px;
   background-color: rgb(218, 211, 172);
   width: 850px;
   height: 760px;
}

.blue img {
   background-color: #ffffff;
}

.header {
   display: flex;
   width: 525px;
   margin: 0 auto;
   align-items: baseline;
}

.header img {
   background-color: #ffffff;
}
.row {
   display: flex;
   margin: 10px;
}

.blue {
   display: inline-block;
   margin: auto;
   padding: 10px;
   width: 125px;
   height: 125px;
   background-color: rgb(129, 182, 231);
   border: solid 5px black;
}

.red {
   display: inline-block;
   margin: auto;
   padding: 10px;
   width: 125px;
   height: 125px;
   background-color: rgb(231, 129, 129);
   border: solid 5px black;
}